body {
  background: #155263;
  font-family: "Miller Text", Georgia, serif;
}
button {
  background-color: #f5cf84;
  border-radius: 20px;
  border: 2px solid #155263;
  transition: all 200ms ease;
  opacity: 1;
  color: black;
}
button:hover {
  opacity: 1;
  background-color: #fcbf49;
  color: #fff;
}

ul {
  list-style-type: none;
  text-align: center;
  font-size: 15px;
  margin-bottom: 20px;
  font-weight: 10;
}

hr {
  background-color: transparent;
  border-top: 9px dotted #155263;
}

footer {
  font-size: 12px;
  padding: 25px 0px 0px;
  color: #155263;
  text-align: center;
}

.container {
  height: 19rem;
}

.form-control {
  margin: 10px 0px 30px 0px;
  border: 2px solid #fcbf49;
}
.form-control:focus {
  border-color: #fcbf49;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.has-error .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.card {
  border: 5px solid #fcbf49;
  background-color: #f5cf84;
}

.currentTemp {
  text-align: left;
}
.row {
  font-size: 35px;
  font-weight: bolder;
  text-align: center;
}
.col {
  font-size: 60px;
}
.time {
  text-align: center;
  font-size: 20px;
  margin-top: 0px;
}

.days {
  text-align: center;
  font-size: 28px;
}

.units {
  text-align: center;
  font-size: 24px;
  margin-top: 0px;
}
.units .active {
  color: #155263;
  cursor: default;
  text-decoration: none;
}

.temp-min {
  color: rgb(77, 74, 74);
}
